.card {
  margin-bottom: $grid-gutter-width;
  box-shadow: $card-shadow;
}

.card-header {
  border-bottom-width: 1px;
}

.card-actions {
  a {
    color: $body-color;
    text-decoration: none;
  }

  svg {
    width: 16px;
    height: 16px;
  }

  .dropdown {
    line-height: 1.4;
  }
}

.card-title {
  font-size: $font-size-lg;
  font-weight: $card-title-font-weight;
  color: $card-title-color;
}

.card-subtitle {
  font-weight: $font-weight-normal;
}

.tieude{
  font-size:40px;
  text-align:center;
  font-weight: bold;

}

.tieude2{
  font-size:18px;
  text-align:center;
  font-style: italic;
  color: green;

}

.tieude3{
  font-size:30px;
  text-align:center;
  font-weight: bold;

}

.name{
  font-size:20px;
  font-weight: bold;
  font-family:serif;
}

.departurePlace{
  font-size:15px;
  font-weight: bold;
  font-family:serif;
}

.time{
  font-size:15px;
  font-family:serif;
}

.price{
  font-size:20px;
  font-family:serif;
  color: red;
}

.emptySeat{
  font-size:18px;
  font-family:serif;
  font-weight: bold;
  color: red;
}

.describe{
  font-size:17px;
  font-weight: bold;
  font-family:serif;
}

.totourImage{
  width:504.984px;
  height:310.203px;
}



.card-table {
  margin-bottom: 0;
}

.card-table tr td:first-child,
.card-table tr th:first-child {
  padding-left: $card-spacer-x;
}

.card-table tr td:last-child,
.card-table tr th:last-child {
  padding-right: $card-spacer-x;
}

.card-img,
.card-img-top,
.card-img-bottom {
  @include img-fluid;

  @media all and (-ms-high-contrast:none) {
    height: 100%;
  }
}